# .NET
backend/**/bin/
backend/**/obj/
backend/HospitalityTaskManager.Api/Data/*.db
backend/HospitalityTaskManager.Api/Data/*.db-shm
backend/HospitalityTaskManager.Api/Data/*.db-wal
*.user
*.suo

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Editor
.vs/
